In [123]:
import matplotlib.pyplot as plt
matplotlib.style.use('ggplot')
import datetime
from bs4 import BeautifulSoup
import json
from geopy import distance
from itertools import cycle
import pandas as pd
import seaborn as sns
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [155]:
def get_coord(location):
    longitude = str(location['longitudeE7'])
    latitude = str(location['latitudeE7'])
    longitude = "{}.{}".format(longitude[:-7], longitude[-7:])
    latitude = "{}.{}".format(latitude[:-7], latitude[-7:])
    return float(latitude), float(longitude)


def get_date(location):
    return datetime.datetime.fromtimestamp(int(location['timestampMs']) / 1000)


class Locator:
    def __init__(self, places, threshold=0.1):
        self.places = places
        self.threshold = threshold
        self.been_there = {}
        self.start_time = {}
        self.initiate()
    
    def initiate(self):
        self.been_there = dict(zip(self.places.keys(), cycle([False])))
        self.start_time = dict(zip(self.places.keys(), cycle([None])))                        

    def exit_from_place(self, place, t, d):
        if self.been_there[place]:
            self.been_there[place] = False
            hour_diff = (self.start_time[place]- t).seconds / 3600
            d[place][-1] += hour_diff
            self.start_time[place] = None
        else:
            d[place][-1] += 0

    def enter_to_place(self, place, t):
        self.been_there[place] = True
        self.start_time[place] = t

    def calculate(self, locations):
        d = {"date": [], 'weekday': [], 'month': []}
        d.update(dict([(place, []) for place in self.places]))
        
        date_to_process = None
        for i, location in enumerate(locations, 1): 
            if i == 100000:
                break

            t = get_date(location)
            curr_date = t.strftime('%Y-%m-%d')

            # new day
            if curr_date != date_to_process:
                if date_to_process is not None:
                    for place in self.places.keys():
                        self.exit_from_place(place, t, d) # day.

                date_to_process = curr_date
                d['date'].append(date_to_process)
                d['month'].append("{}-{}".format(*date_to_process.split('-')[:2]))

                d['weekday'].append(t.weekday() + 1)
                for place in self.places:
                    d[place].append(0)

            curr_loc = get_coord(location)
            for place, loc in self.places.items():
                dist = distance.distance(loc, curr_loc).miles

                # Entering
                if  dist < self.threshold and not self.been_there[place]:
                    self.enter_to_place(place, t)

                # Exiting
                if dist > self.threshold and self.been_there[place]:
                    self.exit_from_place(place, t, d)
                    
        df = pd.DataFrame(d)
        df.to_csv('data-info.tsv', sep='\t', index=False)  # save
        return df
                               
                               
house = (37.449264, -122.165769)
sarah_mtv_office = (37.421965, -122.090632)

places = {'home': house, 
          "sarah-mtv-office": sarah_mtv_office,
         }

locator = Locator(places)
df = locator.calculate(locations)
df

           date       home    month  sarah-mtv-office  weekday
0    2018-05-03   8.858333  2018-05          0.000000        4
1    2018-05-02  16.552222  2018-05          0.000000        3
2    2018-05-01  12.709167  2018-05          0.298889        2
3    2018-04-30  15.170833  2018-04          0.000000        1
4    2018-04-29  17.719167  2018-04          0.000000        7
5    2018-04-28  14.123333  2018-04          0.000000        6
6    2018-04-27  14.112778  2018-04          0.000000        5
7    2018-04-26  15.968889  2018-04          0.000000        4
8    2018-04-25  17.472500  2018-04          0.034444        3
9    2018-04-24  21.462778  2018-04          0.000000        2
10   2018-04-23  15.166944  2018-04          0.884167        1
11   2018-04-22  16.093889  2018-04          0.000000        7
12   2018-04-21  14.161111  2018-04          0.000000        6
13   2018-04-20  14.761667  2018-04          0.000000        5
14   2018-04-19  16.283056  2018-04          0.000000        4
15   2018-04-18  19.938056  2018-04          0.000000        3
16   2018-04-17  16.397778  2018-04          0.243333        2
17   2018-04-16  16.460556  2018-04          0.000000        1
18   2018-04-15   4.529722  2018-04          0.000000        7
19   2018-04-14  14.805000  2018-04          0.000000        6
20   2018-04-13  15.758333  2018-04          0.000000        5
21   2018-04-12  13.378611  2018-04          0.270278        4
22   2018-04-11  14.335556  2018-04          1.097778        3
23   2018-04-10  15.809167  2018-04          0.000000        2
24   2018-04-09  16.209722  2018-04          0.000000        1
25   2018-04-08  14.172778  2018-04          0.000000        7
26   2018-04-07  17.290556  2018-04          0.000000        6
27   2018-04-06  14.798056  2018-04          0.740278        5
28   2018-04-05  21.144722  2018-04          0.000000        4
29   2018-04-04  19.245000  2018-04          0.225833        3
..          ...        ...      ...               ...      ...
115  2018-01-08  23.613889  2018-01          0.000000        1
116  2018-01-07  14.363333  2018-01          0.000000        7
117  2018-01-06  21.058889  2018-01          0.000000        6
118  2018-01-05  17.206111  2018-01          0.000000        5
119  2018-01-04  22.192500  2018-01          0.000000        4
120  2018-01-03   5.271389  2018-01          0.000000        3
121  2018-01-02   0.000000  2018-01          0.000000        2
122  2018-01-01   0.000000  2018-01          0.000000        1
123  2017-12-31   0.000000  2017-12          0.000000        7
124  2017-12-30   0.000000  2017-12          0.000000        6
125  2017-12-29   0.000000  2017-12          0.000000        5
126  2017-12-28   0.000000  2017-12          0.000000        4
127  2017-12-27   0.000000  2017-12          0.000000        3
128  2017-12-26   0.000000  2017-12          0.000000        2
129  2017-12-25   0.000000  2017-12          0.000000        1
130  2017-12-24   0.000000  2017-12          0.000000        7
131  2017-12-23   0.000000  2017-12          0.000000        6
132  2017-12-22   0.000000  2017-12          0.000000        5
133  2017-12-21   0.000000  2017-12          0.000000        4
134  2017-12-20   0.000000  2017-12          0.000000        3
135  2017-12-19   7.527778  2017-12          0.000000        2
136  2017-12-18   0.014444  2017-12          0.000000        1
137  2017-12-17  29.397500  2017-12          0.000000        7
138  2017-12-16  16.787222  2017-12          0.000000        6
139  2017-12-15  18.394167  2017-12          0.646389        5
140  2017-12-14  14.076111  2017-12          0.263611        4
141  2017-12-13  11.734444  2017-12          0.521389        3
142  2017-12-12  13.602222  2017-12          0.259444        2
143  2017-12-11  18.789722  2017-12          0.000000        1
144  2017-12-10   7.863611  2017-12          0.000000        7

[145 rows x 5 columns]

In [156]:
mask = df['date'].str.contains('2018-04-*')
df[mask]['home'].mean()

16.376740740740743

In [157]:
df.groupby('month').mean()

              home  sarah-mtv-office   weekday
month
2017-12   6.281237          0.076856  4.136364
2018-01  14.092545          0.077473  3.806452
2018-02  14.683333          0.137401  4.000000
2018-03   5.695708          0.112249  4.096774
2018-04  16.376741          0.116685  4.000000
2018-05  12.706574          0.099630  3.000000

In [12]:
data = '/Users/obaskaya/Desktop/Takeout/Location History/data.json'
locations = json.load(open(data))['locations']